.line-up {
    display: flex;
    justify-content: space-between; 20 px
  }
  
  .kolom {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .img {
    max-width: 20%;
    height: auto;
    display: block;
  }
  